In [13]:
##1 How do you comment code in Python? What are the different types of comments?
#Comments help to make a code more readable and understable. We can also use comments to explain codes.
# There are two types of comments
#Single line Comments ex. #hello, "hello"
## Multi line Comments ex. ##hello, """hello"""

In [17]:
##2 What are variables in Python? How do you declare and assign values to variables?
# Variables acts as a containers for storing data.In python first we assign value and use them to manipulate the data.variable can be stored in any data type such as integers, floats, strings, list, etc.
# Python can declace and assign values by using assignment operator "="
# Ex.
Variable = "Data Science"
age = 25
name = "Ragini"
assigment = [1,2,3,4,5,6]

In [3]:
##3 How do you convert one data type to another in Python?
# We can convert one data type to another by using type conversion funtion.There are two types of conversion
# Implicit Type and Explicit Type
#Implicit Type convert one data to another automatically in python
#ex.
x = 1 #integer
y = 2.5 #float
output = x + y
print(output)
type(output)

3.5

float

In [7]:
#Explicit Type conversion in used to convert manually with the help of python inbuilt functions.
#1. int() # convert Integer
#2. float() # convert float
#3. str() # convert string
#4. list() #convert list
#5. tuple() #convert tuple
#6. set() #convert set
#7. dict() # convert dictionary

#ex.
x = 1
y = float(x)
print(y)
type(y)

1.0

float

In [1]:
##4 How do you write and execute a Python script from the command line?
#We need to create python friendly code or IDE with .py extention. ex. "hello.py"
#We will save the the file using "hello.py in "
# open command prompt type CMD and enter.
# type in the word python followed by the path to your target script:
#python hello.py
#This will execute the script and print the output.

In [3]:
##5 Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

In [6]:
##6 What is a complex number in mathematics, and how is it represented in Python?
#Complex number = Real + Imaginary Number "a+bi" where a is real and b is imaginary part, with i reapresenting i^2 = -1
#Python works with both real and imaginary numbers. Complex numbers are created from two real numbers, you can create it directly or use complex function.
# ex "a+bj" , where a and b are real numbers and "j" is imaginary number just like "i" in math, python use "j" because "i" is used in electrical engineering as current.
#we can use complex() function or where we can directly use real and imaginary number.
#complex funtion
x = complex(1,2)
print(x)
type(x)
#directly
y = 3+4j
print(y)
type(y)

(1+2j)
(3+4j)

complex

In [7]:
##7 What is the correct way to declare a variable named age and assign the value 25 to it?
#we can just directly just assign value to age variable
#ex.
age = 25
print(age)

25

In [8]:
##8 Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?
price = 9.99
print(price)
type(price)

9.99

float

In [9]:
##9 Create a variable named name and assign your full name to it as a string. How would you print the  value of this variable?
name = "Ragini Kumari"
print(name)

Ragini Kumari

In [14]:
##10 Given the string "Hello, World!", extract the substring "World".
my_str = "Hello, World!"
sub_str = my_str[7:12]
print(sub_str)

World

In [15]:
##11 Create a variable named "is_student" and assign it a boolean value indicating whether you are  currently a student or not.
is_student = False
print(is_student)

False