In [10]:
##1 Variable containing type of data:

In [2]:
type(my_string)

str

In [1]:
my_string = "Hi this is Ragini Kumari"

In [3]:
List = [1, 2, 3, 4, "name", "data"]

In [4]:
type(List)

list

In [5]:
float = 2.06

In [7]:
type(float)

float

In [8]:
tuple = (1,2,3,4,2323,"name", "data")

In [9]:
type(tuple)

tuple

In [11]:
##2 the data type of the below given variable.

(i) var1 = ‘ ‘ = **String**
(ii) var2 = ‘[ DS , ML , Python]’ = **String**
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]= **list**
(iv) var4 = 1. = **float**

In [14]:
##3 the use of the following operators using an example.

(i) / = **Division**,
(ii) % = **Modulus**,
(iii) // = **Floor** **Division**,
(iv) ** = **Exponentiation**

In [15]:
# #4 Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [2]:
my_list = ["apple","mango",544,12323,2.398,True,False,[12,323,233],{'name':'ragini'},(1,2,3)]

In [3]:
for x in my_list:
  print(x)

apple
mango
544
12323
2.398
True
False
[12, 323, 233]
{'name': 'ragini'}
(1, 2, 3)

In [4]:
##5 Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [16]:
a = 128
b = 2
count = 0
while a%b == 0:
  a=a//b
  count += 1

if count > 0 :
  print (f"the number is divisible {count} times by {b}")
else:
    print(f"the number is not divisible by {b}")

the number is divisible 7 times by 2

In [10]:
##6 Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [11]:
my_int_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [17]:
for num in my_int_list:
  if num % 3 == 0:
    print(f"{num} is divisible by 3")
  else:
    print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [18]:
##7 What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [20]:
## Mutuable Data structure can be changed after it is created. it simply mean that we can overwrite or amke change in the previous records.
## example LIST which is mutable
list = [12,33,"ragini","apple"]
print(list)

[12, 33, 'ragini', 'apple']

In [33]:
## example of modified list
list.remove("apple")
print(list)

[12, 33, 'ragini', 'pineapple']

In [32]:
## Immutable Data structure cannot be changed after they are created. If tried to modified it will create new data.
## example STRING which in immutable
string = "Data Science "
print(string)

Data Science

In [35]:
## example of trying to modify string
string.remove("science")
print(string)

AttributeError: 'str' object has no attribute 'remove'

In [36]:
string = string + "Masters"
print(string)

Data Science Masters